# SPDX-FileCopyrightText: 2023 Siemens AG
#
# SPDX-License-Identifier: Apache-2.0
#
# Author: Michael Adler <michael.adler@siemens.com>
---
workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

stages:
  - build
  - lint
  - test
  - deploy

image: golang:1.25.3@sha256:6ea52a02734dd15e943286b048278da1e04eca196a564578d718c7720433dbbe

build:
  stage: build
  parallel:
    matrix:
      - GOOS: ["linux", "windows"]
  before_script:
    - .ci/setup-build.sh
  script:
    - just build
  artifacts:
    expire_in: 1 day
    paths:
      - dist

test:
  stage: test
  needs: []
  script:
    - go test -race -coverprofile=coverage.out -covermode=atomic -timeout 30s --tags=testing ./...

test-postgres:
  stage: test
  services:
    - postgres:18@sha256:78f1aed6e8c0185d3c6963c8343dd018c63e8ba5ebd78c159c7c772a05e75b30
  needs: []
  variables:
    CGO_ENABLED: 1

    # see https://docs.gitlab.com/ee/ci/services/postgres.html
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
    POSTGRES_DB: wfx
    POSTGRES_USER: wfx
    POSTGRES_PASSWORD: secret
    POSTGRES_HOST_AUTH_METHOD: trust

    # duplicated from above but these variables are used by the Postgres driver
    PGHOST: postgres
    PGPORT: 5432
    PGDATABASE: $POSTGRES_DB
    PGUSER: $POSTGRES_USER
    PGPASSWORD: $POSTGRES_PASSWORD
    PGSSLMODE: disable
  script:
    - go test -tags testing,integration,no_mysql ./...

test-mysql:
  stage: test
  services:
    - mysql:8-debian@sha256:49f4fcb0087318aa1c222c7e8ceacbb541cdc457c6307d45e6ee4313f4902e33
  needs: []
  variables:
    CGO_ENABLED: 1

    # see https://docs.gitlab.com/ee/ci/services/mysql.html
    # Configure mysql service (https://hub.docker.com/_/mysql/)
    MYSQL_DATABASE: wfx
    MYSQL_ROOT_PASSWORD: root
    MYSQL_USER: wfx
    MYSQL_PASSWORD: secret
    MYSQL_HOST: mysql
  script:
    - go test -tags testing,integration,no_postgres ./...

cli-tests:
  stage: test
  needs: []
  services:
    - postgres:18@sha256:78f1aed6e8c0185d3c6963c8343dd018c63e8ba5ebd78c159c7c772a05e75b30
    - mysql:8-debian@sha256:49f4fcb0087318aa1c222c7e8ceacbb541cdc457c6307d45e6ee4313f4902e33
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    CGO_ENABLED: 1

    # see https://docs.gitlab.com/ee/ci/services/mysql.html
    # Configure mysql service (https://hub.docker.com/_/mysql/)
    MYSQL_DATABASE: wfx
    MYSQL_ROOT_PASSWORD: root
    MYSQL_USER: wfx
    MYSQL_PASSWORD: secret
    MYSQL_HOST: mysql

    # see https://docs.gitlab.com/ee/ci/services/postgres.html
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
    POSTGRES_DB: wfx
    POSTGRES_USER: wfx
    POSTGRES_PASSWORD: secret
    POSTGRES_HOST_AUTH_METHOD: trust

    PGHOST: postgres
    PGPORT: 5432
    PGUSER: wfx
    PGPASSWORD: secret
    PGDATABASE: wfx
  before_script:
    - .ci/setup-cli-tests.sh
    - go install .
    - go install ./cmd/wfxctl
    - go build -C example/plugin
  script:
    - export PATH=$(go env GOPATH)/bin:$PATH
    - cd test && bats .

lint:
  stage: lint
  needs: []
  before_script:
    - .ci/setup-lint.sh
  script:
    - just lint

reuse:
  stage: lint
  needs: []
  image:
    name: fsfe/reuse:6.2.0@sha256:85462a75c0f8efda09ddd190b92816b70e7662577c8427429e11e1b9f25a992e
    entrypoint: [""] # default entrypoint is "reuse" which doesn't work for CI
  script:
    - reuse lint || true # just a warning

generate:
  stage: lint
  needs: []
  before_script:
    - .ci/setup-generate.sh
    - git lfs install && git submodule update
  script:
    - just generate
    - git diff --exit-code
