<!--
SPDX-FileCopyrightText: 2026 Siemens AG

SPDX-License-Identifier: Apache-2.0

Author: Michael Adler <michael.adler@siemens.com>
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wfx UI</title>
    <link rel="stylesheet" href="{{ .AppCSS }}">
    <script type="module" src="{{ .AppMJS }}"></script>
    <script>
      function loadConfig() {
        return {
          "wfx_url": {{ .WfxURL | json }},
          "base_path": {{ .BasePath | json }},
          "oauth": {{ if or .OAuth.IssuerURL .OAuth.ClientID }}{
            "issuer_url": {{ .OAuth.IssuerURL | json }},
            "client_id": {{ .OAuth.ClientID | json }},
            "scope": {{ .OAuth.Scope | json }}
          }{{ else }}null{{ end }}
        }
      }
    </script>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
