# SPDX-FileCopyrightText: 2025 Siemens AG
#
# SPDX-License-Identifier: Apache-2.0
#
# Author: Michael Adler <michael.adler@siemens.com>
---
name: PR checks

on:
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  contents: read
  # needed to comment on the PR
  pull-requests: write

jobs:
  check-conventional-commit:
    name: Check commit messages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: "${{ github.event.pull_request.head.ref }}"
          repository: "${{ github.event.pull_request.head.repo.full_name }}"
          fetch-depth: 0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          cache: "pip" # caching pip dependencies
      - run: pip install commitizen
      - name: Check commit messages
        run: |
          # NOTE: if the repo was forked, then 'origin' is the forked repo
          SRC_REV=origin/${GITHUB_BASE_REF}
          count=$(git rev-list --count $SRC_REV..)
          if [[ "$count" -eq 0 ]]; then
            # count is zero if user forked the repo and pushed their changes onto main branch
            echo "Comparing against upstream repo instead"
            git remote add upstream https://github.com/siemens/wfx.git
            git fetch upstream ${GITHUB_BASE_REF}
            # give user some slack by going back a few commits
            SRC_REV=upstream/${GITHUB_BASE_REF}~14
          fi
          echo "Using SRC_REV=$SRC_REV"
          # sanity check
          count=$(git rev-list --count $SRC_REV..)
          if [[ "$count" -eq 0 ]]; then
            echo "No commits found. Please rebase your branch on top of ${GITHUB_BASE_REF}."
            exit 1
          fi
          echo "The following commit messages will be checked:"
          git log --oneline $SRC_REV..
          echo "Performing check"
          cz check --rev-range $SRC_REV..
