# SPDX-FileCopyrightText: 2023 Siemens AG
#
# SPDX-License-Identifier: Apache-2.0
#
# Author: Michael Adler <michael.adler@siemens.com>
---
name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  wfx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: stable
      - uses: korandoru/setup-zig@v1
        with:
          zig-version: 0.10.1
      - run: |
          # goreleaser requires an absolute path to the compiler
          install -m0755 .ci/zcc /usr/local/bin/zcc
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.PACKAGE_DEPLOY_USER }}
          password: ${{ secrets.PACKAGE_DEPLOY_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGE_DEPLOY_TOKEN }}
          CC: /usr/local/bin/zcc
